on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Ponctuation

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - name: Test ponctuation
        run: R --vanilla < test-ponctuation.R
